#main {
    margin-top: 100px;
}
nav.navbar a.nav-link {
    padding-left: .5rem;
    padding-right: .5rem;
}
img.img-fluid {
    margin-top: 40px
}
#body-main {
    margin-top: 70px;
}

@media (max-width: 1200px) {
    nav.navbar {
        padding: 0 35px;
    }

}